export(ask_for_password)
export(demo.pal)
export(distinctive_colors)
export(get_files)
export(plotHeatmap)
export(ram_objects_summary)
export(ruler_axis)
export(running_mean)
export(running_mean_matrix)
export(smear)
export(smear_ff)
import(methods)
importFrom(ff,as.ff)
